beautifulsoup4==4.9.3
Django==2.2.18
django-bootstrap4==2.3.1
django-cors-headers==3.7.0
django-cors-middleware==1.5.0
importlib-metadata==2.1.1
psycopg2-binary==2.8.6
python-decouple==3.4
pytz==2020.5
soupsieve==2.1
sqlparse==0.4.1
static3==0.7.0
whitenoise==5.2.0
zipp==3.4.0
